body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: aliceblue;
}
form {
  text-align: center;
}

button {
  margin: 20px 10px 10px 10px;
}

#result {
  margin: 10px 10px 10px 10px;
}

h1 {
  text-align: center;
}
